In [17]:
from pyspark import SparkConf,SparkContext
from pyspark.sql import SQLContext,SparkSession
from pyspark.sql import functions as f
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [18]:
#Setting the session for the pyspark
spark = SparkSession.builder.appName("FaceBook").getOrCreate()
sqlcont=SQLContext(spark)

C:\Users\ADMIN\anaconda3\lib\site-packages\pyspark\sql\context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [19]:
#Loading data into the pyspark dataframe
df = spark.read.csv("E:/Hadoop Project/FBD.csv", header=True, inferSchema=True)

In [12]:
df.show()

+-------+---+-------+--------+---------+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
| userid|age|dob_day|dob_year|dob_month|gender|tenure|friend_count|friendships_initiated|likes|likes_received|mobile_likes|mobile_likes_received|www_likes|www_likes_received|
+-------+---+-------+--------+---------+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
|1089478| 16|      4|    1997|        4|  male|   508|         254|                  164|    5|             2|           5|                    2|        0|                 0|
|1606897|108|      1|    1905|        3|  male|   834|         261|                  216|    5|             3|           5|                    1|        0|                 2|
|1048577| 30|     22|    1983|        2|  male|   208|         254|                  169|    5|             4|           5|                    4|        0|                 0|
|1105874| 18|     10|    1995|        5|  male|    94|         252|                  245|    5|            42|           5|                   20|        0|                22|
|1282050| 18|     14|    1995|        8|  male|   679|         259|                  180|    5|           519|           5|                  404|        0|               115|
|1975328| 20|     11|    1993|       12|female|    41|         259|                   63|    5|            56|           5|                   42|        0|                14|
|1684986| 22|     29|    1991|        7|female|   140|         258|                  194|    5|            17|           5|                   10|        0|                 7|
|1078394| 24|     10|    1989|        1|  male|   853|         261|                  162|    5|            53|           5|                   41|        0|                12|
|1102442| 27|     27|    1986|        9|  male|   387|         257|                  195|    5|            13|           5|                   10|        0|                 3|
|1173080| 38|     26|    1975|        8|female|   627|         261|                  137|    5|            12|           5|                    2|        0|                10|
|1319452| 14|      9|    1999|        4|  male|   215|         261|                  190|    6|             1|           0|                    0|        6|                 1|
|1868817| 23|     23|    1990|        8|  male|  1361|         261|                  134|    6|             7|           0|                    7|        6|                 0|
|1137688|106|      2|    1907|        6|  male|  1247|         257|                  114|    6|             5|           1|                    1|        5|                 4|
|1785533| 15|      5|    1998|        8|  male|   289|         257|                  170|    6|             6|           3|                    4|        3|                 2|
|1563289| 19|     31|    1994|        3|  male|   509|         254|                   92|    6|            14|           4|                    5|        2|                 9|
|1227373| 28|     28|    1985|        1|female|   899|         258|                   52|    6|            31|           3|                   27|        3|                 4|
|1877875| 21|     12|    1992|       11|  male|   403|         258|                  210|    6|            10|           5|                    3|        1|                 7|
|1496009| 22|      7|    1991|        7|  male|   528|         261|                  116|    6|            27|           5|                    7|        1|                20|
|1617483| 29|     18|    1984|       12|female|   164|         254|                  221|    6|            60|           5|                   31|        1|                29|
|1862321| 26|     15|    1987|       11|  male|   943|         256|                  117|    6|             0|           6|                    0|        0|                 0|
+-------+---+-------+--------+---------+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
only showing top 20 rows

In [22]:
rdd = df.rdd

In [20]:
df.count()

20314

In [21]:
df.show(5)

+-------+---+-------+--------+---------+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
| userid|age|dob_day|dob_year|dob_month|gender|tenure|friend_count|friendships_initiated|likes|likes_received|mobile_likes|mobile_likes_received|www_likes|www_likes_received|
+-------+---+-------+--------+---------+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
|1089478| 16|      4|    1997|        4|  male|   508|         254|                  164|    5|             2|           5|                    2|        0|                 0|
|1606897|108|      1|    1905|        3|  male|   834|         261|                  216|    5|             3|           5|                    1|        0|                 2|
|1048577| 30|     22|    1983|        2|  male|   208|         254|                  169|    5|             4|           5|                    4|        0|                 0|
|1105874| 18|     10|    1995|        5|  male|    94|         252|                  245|    5|            42|           5|                   20|        0|                22|
|1282050| 18|     14|    1995|        8|  male|   679|         259|                  180|    5|           519|           5|                  404|        0|               115|
+-------+---+-------+--------+---------+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
only showing top 5 rows

In [23]:
df.printSchema() # printing schema

root
 |-- userid: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- dob_day: integer (nullable = true)
 |-- dob_year: integer (nullable = true)
 |-- dob_month: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- tenure: integer (nullable = true)
 |-- friend_count: integer (nullable = true)
 |-- friendships_initiated: integer (nullable = true)
 |-- likes: integer (nullable = true)
 |-- likes_received: integer (nullable = true)
 |-- mobile_likes: integer (nullable = true)
 |-- mobile_likes_received: integer (nullable = true)
 |-- www_likes: integer (nullable = true)
 |-- www_likes_received: integer (nullable = true)

In [24]:
# feature renaming 
for col in df.columns:
  df=df.withColumnRenamed(col,col.replace(' ','_')) # replacing space with _

In [25]:
df.printSchema() # printing schema

root
 |-- userid: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- dob_day: integer (nullable = true)
 |-- dob_year: integer (nullable = true)
 |-- dob_month: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- tenure: integer (nullable = true)
 |-- friend_count: integer (nullable = true)
 |-- friendships_initiated: integer (nullable = true)
 |-- likes: integer (nullable = true)
 |-- likes_received: integer (nullable = true)
 |-- mobile_likes: integer (nullable = true)
 |-- mobile_likes_received: integer (nullable = true)
 |-- www_likes: integer (nullable = true)
 |-- www_likes_received: integer (nullable = true)

In [26]:
df.createOrReplaceTempView("uid_1")
spark.sql("select avg(age) from uid_1 where gender = 'female';").show()

+-----------------+
|         avg(age)|
+-----------------+
|33.38433133732535|
+-----------------+

In [27]:
spark.sql("select avg(friend_count) from uid_1 where gender = 'male';").show()

+-----------------+
|avg(friend_count)|
+-----------------+
|598.0449624500146|
+-----------------+

In [28]:
spark.sql("select avg(dob_month) from uid_1 where gender = 'male';").show()

+-----------------+
|   avg(dob_month)|
+-----------------+
|6.396859455769043|
+-----------------+

In [29]:
spark.sql("select count(*) from uid_1 where age > 40;").show()

+--------+
|count(1)|
+--------+
|    5108|
+--------+

In [30]:
spark.sql("select avg(friend_count) from uid_1 where gender = 'male';").show()

+-----------------+
|avg(friend_count)|
+-----------------+
|598.0449624500146|
+-----------------+

In [31]:
spark.sql("select avg(friend_count) from uid_1 where gender = 'female';").show()

+-----------------+
|avg(friend_count)|
+-----------------+
|731.0528942115768|
+-----------------+

In [32]:
spark.sql("select gender, avg(friend_count) from uid_1 group by gender;").show()

+------+-----------------+
|gender|avg(friend_count)|
+------+-----------------+
|    NA|549.5121951219512|
|female|731.0528942115768|
|  male|598.0449624500146|
+------+-----------------+

In [33]:
spark.sql("select avg(likes_received) from uid_1 group by gender;").show()

+-------------------+
|avg(likes_received)|
+-------------------+
|  407.9756097560976|
|  722.6289421157685|
|  261.9710328684288|
+-------------------+

In [35]:
spark.sql("select count(likes_received) from uid_1 where age >= 20 and age <= 40;").show()

+---------------------+
|count(likes_received)|
+---------------------+
|                 7643|
+---------------------+

In [38]:
spark.sql("select count(likes_received),dob_month from uid_1 group by dob_month;").show()

+---------------------+---------+
|count(likes_received)|dob_month|
+---------------------+---------+
|                 1675|       12|
|                 1908|        1|
|                 1629|        6|
|                 1697|        3|
|                 1799|        5|
|                 1724|        9|
|                 1655|        4|
|                 1838|        8|
|                 1677|        7|
|                 1696|       10|
|                 1528|       11|
|                 1488|        2|
+---------------------+---------+